{% extends 'layout.html' %}
{% block body %}{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith%}

<body>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <form>
                    <div class="form-group">
                        <label for="nombre"> Nombre:</label>
                        <output>{{datos.0}}</output>
                    </div>
                    <div class="form-group">
                        <label for="nombre"> Apellido:</label>
                        <output>{{datos.1}}</output>
                    </div>
                    <div class="form-group">
                        <label for="nombre"> Cargo:</label>
                        <output>{{datos.2}}</output>
                    </div>
                    <div class="form-group">
                        <label for="nombre"> Fecha:</label>
                        <output>{{fecha.0}}</output>
                    </div>

                </form>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card border-primary md-4 ">
                <div class="card-header">Asistencia Docente</div>
                <div class="card card-body">
                    <form action="/docente" method="GET">
                        <div class="form-group">
                            <label for="nombre"> Nombre:</label>
                            <input type="text" name="nom">
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Apellido:</label>
                            <input type="text" name="apel">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary">consultar</button>
                        </div>
                        {% if docente %}
                        <div class="form-group">
                            <label for="nombre"> Nombre:</label>
                            <output>{{docente.0}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Apellido:</label>
                            <output>{{docente.1}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Cargo:</label>
                            <output>{{docente.2}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Sede:</label>
                            <output>{{docente.3}}</output>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>
        {% if programa %}
        <div class="col-md-4 offset-md-4">
            <div class="card border-primary md-4 ">
                <div class="card-header">Programcion</div>
                <div class="card card-body">
                    <form action="/docente" method="GET">
                        <div class="form-group">
                            <label for="nombre"> Actividad:</label>
                            <output>{{programa.2}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Espacio:</label>
                            <output>{{programa.4}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Deporte:</label>
                            <output>{{programa.3}}</output>
                        </div>
                        <div class="form-group">
                            <label for="nombre"> Estudiantes:</label>
                            <output>{{programa.5}}</output>
                        </div>
                        <div class="col-md-7" style="text-align:center;">
                            <table class="table table-striped table-bordered bg-white table-sm">
                                <thead>
                                    <tr>
                                        <td>Elemento</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in elemento %}
                                    <tr>
                                        <td>{{ dato.1 }}</td>
                                        <td>
                                            <a href="/asignar/{{dato.0}}" class="btn btn-primary btn-sm">Asignar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</body>
{% endblock %}